/ {
	aliases {
		i2c0 = &i2c0;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	p1: tcs3400@39 {
		compatible = "tmi,tcs3400";
		reg = <0x39>;
		status = "okay";
		label = "TCS3400";
		int-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};

&pwm0 {
	status = "disabled";
};

&sw_pwm {
	status = "okay";
	channel-gpios = <&gpio0 13 PWM_POLARITY_NORMAL>;
};

&pwm_led0 {
	pwms = <&sw_pwm 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
};
