config TMI_DRIVER_XGZP6897D
	bool "Enable XGZP6897D Pressure Sensor"
	default y
	depends on DT_HAS_TMI_XGZP6897D_ENABLED
	select I2C
	select SENSOR
	select FPU if CPU_HAS_FPU
	help
		Enables XGZP6897D pressure sensor driver

config TMI_DRIVER_XGZP6897D_INIT_PRIORITY
	int "XGZP6897D	init priority"
	default 90
	depends on TMI_DRIVER_XGZP6897D
	help
		XGZP6897D initialization priority.
