config TMI_DRIVER_XGZP6897D
	bool "Enable xgzp6897d pressure sense"
	default n
	select I2C
	select FPU
	select SENSOR 
	help
		Enables the xgzp6897d pressure sense I2C, FPU and PRESSURE_API

config TMI_DRIVER_XGZP6897D_INIT_PRIORITY
	int "XGZP6897D	init priority"
	default 90
	depends on TMI_DRIVER_XGZP6897D
	help
		XGZP6897D initialization priority.
