/ {
	aliases {
		i2c0 = &i2c0;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	p1: tcs3400@58 {
		compatible = "tmi,tcs3400";
		reg = <0x00>;
		status = "okay";
		label = "TCS3400";
		int-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};
